.section-nuevo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-form {
    color: #f53636;
    font-size: 16px;
    padding: 5px;
    font-weight: 500;
}

.form-create {
    width: 500px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.title-form {
    text-align: center;
    color: #ddd; 
    font-size: 30px;
}

.box-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-input {
    color: #eee;
    font-size: 16px;
}

.input-form {
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
}

.date {
    background-color: #fff;
    color: #000;
}

.input-form:focus {
    border-color: #15f3eb; 
}

.section-input-dates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.input-submit {
    width: 100%;
    border: 1px solid #eee;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;

}

.input-submit:hover {
    background-color: #eee;
    color: #000;
    transition: .5s;
}
