.main-register {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #101010;
}

.button-register {
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #202020;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
}