.card-project {
    width: 240px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #202020;
    background-color: #101010;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container-card-project {
    width: 100%;
    height: 100%;
}

.box-dates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff; 
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.container-titles-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.date-box {
    color: #fff;
    font-weight: bold;
}

.title-card-project {
    color: #fff;
}

.description-card-project {
    color: #aaa;
    overflow-y: auto;
}

.link-card {
    padding: 10px;
    background-color: #ddd;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.box-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.button-card {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    background-color: #007bff;
}
