.box-chat {
    width: 400px;
    height: 350px;
    overflow-y: auto;
    background-color: #181818;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0 0 2px #252525;
    transform: translateX(500px);
    transition: .5s ease-in-out;
}
.box-chat.open {
    transform: translateX(0);
}

.chat {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message {
    width: 100%;
    height: auto;
    overflow-x: auto;
    color: #101010;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #101010;
    font-weight: 500;

}

.container-message {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.username-message {
    color: #fff; 
}
.date-message {
    color: #fff; 
}
.content-message {
    color: #ddd; 
    font-size: 16px;
}

.container-delete-message {
    display: flex;
    align-item: center;
    justify-content: center; 
    gap: 8px;
}
.icon-delete-msg {
    cursor: pointer; 
}
.controls-chat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.input-chat {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
}
.input-chat:focus {
    border-color: #15f3eb;
}

.input-chat::placeholder {
    color: #ddd;
}

.btn-chat {
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #15f3eb; 
    border: none;
    border-radius: 5px;
    color: #101010; 
}




























