.footer {
    width: 100%; 
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-footer {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.link-footer {
    text-decoration: none;
}







