.header {
    width: 80%;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 999;
    background-color: #050505;
    backdrop-filter: blur(10px);
}

.navbar {
    width: 100%;
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.link-logo {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.links {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 14px; 
}

.link-nav {
    color: #aaa; 
    font-size: 16px;
    text-decoration: none;

}

.link-nav:hover {
    color: #fff; 
}

.login {
    color: #eee; 
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}
.login:hover {
    background-color: #eee;
    color: #000;
    transition: .5s;
}

.title-user {
    color: #fff; 
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.line {
    width: 6px; 
    height: 6px; 
    border-radius: 50%;
    background-color: #adff2f;
}









