.header {
    width: 80%;
    position: fixed;
    z-index: 999;
    background-color: #050505;
    backdrop-filter: blur(10px);
}

.navbar {
    width: 100%;
    padding: 10px 0; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.container-navbar {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 14px; 
}

.link-nav {
    color: #aaa; 
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: color .5s ease-in-out;

}

.link-nav:hover {
    color: #fff; 
}

.link-github {
    text-decoration: none;
}

.login {
    color: #eee; 
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 5px;
    padding:10px;
    transition: .5s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}

.login:hover {
    background-color: #eee;
    color: #000;
}

.title-user {
    color: #fff; 
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}








