.section-list-tasks {
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);
  padding: 10px;
  transform: translateX(400px);
  transition: .5s ease-in-out;
}

.section-list-tasks.openList {
    transform: translateX(0);
} 
.close-list {
    cursor: pointer;
    margin-bottom: 10px;
}

.section-create-task {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.title-create-task {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.section-tasks {
  width: 100%;
}

.title-tasks {
  color: #fff;
  padding-bottom: 10px;
}

.list-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  overflow-y: auto;

}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent; 
}

.task.completed-task {
  background-color:#03ab03a2; 
  border-color: #14e614;
}

.container-controls-task {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px;
}

.title-task {
  color: #fff;
  font-weight: 500;
}

.icon-controls-task {
  cursor: pointer;
}

.sec-create-task {
    width: 100%;

}



.form-task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: transparent;
}

.input-form-task {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #fff; 
}

.input-form-task:focus {
  border-color: #15f3eb;
}

.btn-form-task {
  padding: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
}
