.nav-projects {
    width: 200px;
    height: 100vh;
    padding: 5px;
    border-right: 1px solid #eee;
}

.title-logo-nav {
    color: #fff;
    padding-bottom: 30px;
    font-size: 25px;
}

.box-links-nav {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}

.link-menu-project {
    width: 100%;
    border: 1px solid #aaa;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s ease-in-out;
    font-size: 16px;
    font-weight: 500;
}

.link-menu-project:hover {
    border-color:#fff;
    background-color: #fff;
    color: #101010;
}







