.modal-password {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    display: none;
    gap: 18px;
}

.modal-password.openModal {
    display: flex;
}

.modal {
    width:500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #101010;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 10; 
}

.btn-close-modal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;
    color: #fff;
}

.title-modal {
    color: #ddd;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.btn-create-pass {
    padding: 10px;
    border: none;
    font-weight: 500;
    background-color: #fff;
    color: #101010;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.msg-copy {
    font-size: 16px;
    font-weight: 500;
    color: #87db09;
    padding: 5px;
    border-radius: 5px;
    background-color: #87db0929;
    border: 1px solid #87db09;
}

.box-password {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.password {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #ddd; 
    text-align: start;
}

.icons-box-password {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.icon-password {
    cursor: pointer;
}


.list-colaborates {
    width: 200px;
    height: 350px;
    background-color: #101010;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 10px;
}

.colaborate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.delete-colaborate {
    cursor: pointer;
}