.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.title-logo {
  color: #20a29e;
  text-align: center;
  font-size: 80px;
}



.subtitle-main {
  color: #eee;
  font-size: 40px;
}

.link-main {
  border: 1px solid #15f3eb3c;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.link-main:hover {
  box-shadow: 0 0 8px #15f3eb;
  transition: 0.5s;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #222;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}
